<html>
  <head>
    <style type="text/css">
      body {
        color: #F8F9FB;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 5px solid #337EF7;
        padding: 10px;
        text-align: center;
      }
      h4, p {
        font-family: "Helvetica";
        color: #337EF7;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to Structure!</h4>
      <p>handandfoot is up and running.</p>
    </div>
  </body>
</html>
